<div class="container">
    <h2>Employees List</h2>
  
    <button class="btn-add" routerLink="/add-employee">Add Employee</button>
  
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.firstName }}</td>
          <td>{{ emp.lastName }}</td>
          <td>{{ emp.email }}</td>
          <td>
            <button class="btn-update" (click)="updateEmployee(emp.id)">Update</button>
            <button class="btn-delete" (click)="deleteEmployee(emp.id)">Delete</button>
            <button class="btn-view" (click)="viewEmployee(emp.id)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  